body{
	font-family: 'Montserrat', sans-serif;
}

a:hover{
	color: #fff;
}

.topheader{
	width: 100%;
	height:650px;
	background: url(../images/Waxom-Hemepage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.navbar{
	padding-top: 20px;
	position: absolute;
}

.navbar-brand{
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	color: #fff;
	display: inline-block;
	padding-right: 30px;
}

.navbar-toggler-icon i{
	color: #fff;
	font-size: 30px;
}

.nav-link{
	color: #fff;
	font-size: 16px;
	transition: .2s;
}

.nav-link:hover{
	color: #c7b299;
}

.nav-icons{
	padding-left: 30px;
}

.nav-icons a{
	padding: 10px;
}

.btn{
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
	font-weight: 900;
	text-transform: uppercase;
	border: 1px solid #998675;
	border-bottom: 2px solid #736357;
	padding: 10px 20px;
	background-color: #998675;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
}

/* SLIDER */

.slider{
	position: relative;
	top: 30%;
	left: 0;
}

.slider-item{
	text-align: center;
	padding: auto;
	padding: 0px 100px;
}

.slider-item h3,h1,p{
	color: #fff;
}
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
	position: relative;
	z-index: 1;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;


}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: center;
}

/* Слайд */
.slick-slide{

}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
	position: absolute;
	bottom: 40%;
	margin: 0px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 45px;
	height: 75px;
	border: none;
	cursor: pointer;
	transition: .2s;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 2%;
	background: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	object-fit: cover;
	transform: rotate(180deg);
	outline: none;
	opacity: .7;
}

.slick-arrow.slick-prev:hover{
	opacity: 1;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 2%;
	background: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	object-fit: cover;
	outline: none;
	opacity: .7;
	
}

.slick-arrow.slick-next:hover{
	opacity: 1;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 44%;
	top: 150%;

}
.slick-dots li{
	list-style: none;
	margin: 0px 10px;

}
.slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #c7b299;
	border: 0;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	outline: none;
}

.slick-dots li.slick-active button{
	background-color: transparent;
	border: 2px solid #c7b299;
}


/* SERVICES */

.services{
	margin-top: 100px;
}

.col-lg-3 img{
	padding-bottom: 20px;
}

.col-lg-3 h4{
	font-weight: 600;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	opacity: 0.8;
}

.col-lg-3 p{
	color: #000;
}

.col-lg-3 p:after{
	content: "";
	display: block;
	margin: 30px auto;

	height: 3px;
	width: 80px;

	background-color: #000;
	opacity: 0.2;
}

.col-lg-3 p:after :hover{
	opacity: 1;
}

/* DEVICES */

.section{
	margin-top: 50px;
}

.text{
	line-height: 2;
	padding: 100px 50px;
}

.title h2{
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	opacity: 0.8;
}

.subtitle p{
	opacity: 0.8;
	color: #000;
}

.devices{
	overflow: hidden;
	display: flex;
	justify-content: center;
	object-fit: cover;
	
}

/* TEXT-BOXES */

.text-boxes{
	background: linear-gradient(to right, #231c1a, #4d3326)
}

.col-sm-8{
	padding: 40px 50px 25px 50px;
}

.col-sm-8 span{
	color: #c7b299;
}

.col-sm-8 h2{
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.col-sm-8 p{
	color: grey;
}

.btn-text-boxes{
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
	font-weight: 900;
	text-transform: uppercase;
	border: 1px solid #998675;
	border-bottom: 2px solid #736357;
	padding: 10px 20px;
	background-color: #998675;
	color: #fff;
	cursor: pointer;
	
	float: right;

	margin-top: 50px;
}

.btn-text-boxes:hover{
	opacity: 0.6;
}


/* ITEMS */

.list{
	text-align: center;
}

.item{
	list-style-type: none;
	display: inline-block;

	margin-right: 5px;
	margin-top: 20px;
}

a.item-link{
	text-decoration: none;
	color: grey;

	border: 1px solid;
	border-radius: 3px;

	padding: 5px 20px;

	transition: .2s;
}

a.item-link:hover{
	color: #fff;
	background-color: #998675;
	border-color: #998675
}

/* CARD */

.card{
	width: 100%;
	height: 345px;
}

.fa-square-full{
	color: #fff;
	position: absolute;
	transform: rotate(45deg);

	top: 229px;
	left: 30px;

	transition: color .2s;
}

.card:hover .fa-square-full{
	color: #231c1a;
}


.card-img img{

	object-fit: cover;
	position: relative;
	border-radius: 0;

	transition: .2s;
}

.card:hover .card-img img{
	opacity: 0.3;
}

.card-img{
	background: #000;
}

.card-link{
	width: 100%;

	font-size: 20px;
	text-align: center;
	color: #fff;

	position: absolute;

	top: 30%;
	left: 0;
	z-index: 2;

	opacity: 0;

	transition: opacity .2s;

}

.card:hover .card-link{
	opacity: 1;

}


.card-link i{
	font-size: 24px;
}


.card-link a{
	color: #fff;
	padding-right: 10px;

	transition: color .2s;
}

.card-link a:hover{
	color: #998675;
}

.card-body{
	padding: 30px;
	background-color: #fff;
	
	transition: .2s;
}

.card:hover .card-body{
	background-color: #231c1a;
}

.card-title{
	color: #c7b299;

	transition: color .2s;
}

.card:hover .card-title{
	color: #fff;
}


.card-text{
	color: #ccc;

	transition: color .2s;
}

.card:hover .card-text{
	color: #c7b299;
}
.btn-card{
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
	font-weight: 900;
	text-transform: uppercase;
	border: 1px solid #998675;
	border-bottom: 2px solid #736357;
	padding: 10px 30px;
	background-color: #998675;
	color: #fff;
	cursor: pointer;

	margin-top: 50px;
}

.btn-card:hover{
	opacity: 0.8;
}

/* VIDEO */

.presentation{
	margin-top: 100px;
	position: relative;
	background-color: #000;
}



.presentation-content{
	width: 50%;
	display: flex;
	justify-content: center;
	line-height: 2;

	position: absolute;
	top: 20%;
	left: 25%;
	z-index: 3;

	text-align: center;

	
}

.presentation-button a img{
	width: 70px;
}

.presentation-title{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	padding-top: 30px;
}

.presentation-text{
	color: #fff;
}

.presentation-time{
	padding-top: 30px;
	color: #c7b299;
}

.video{
	position: relative;
	padding-bottom: 600px;
}

.video-bg{
	width: 100%;
	height: 600px;
	object-fit: cover;

	opacity: .4;
	position: absolute;
}

/* MOBILE-DEVICES */

.mobile-devices{
	margin-top: 100px;
}

.mobile-devices-hand{
	width: 100%;
}

.mobile-devices-text{
	padding-top: 50px;
}

.mobile-devices-title h1{
	font-family: 'Raleway', sans-serif;
	color: #000;
}

.mobile-devices-subtitle p{
	padding-top: 20px;
	color: #818181;
}

.mobile-devices-features{
	padding-left: 50px;
}

.mobile-devices-features p{
	margin-top: 10px;
	color: #818181;
}

.fa-angle-right{
	display: block;
	margin: 0px 20px 0px 50px;
	padding: 3px 6px 3px 8px;
	border-radius: 50%;
	background-color: #c7b299;
	color: #fff;
	width: 25px;
	height: 25px;
}

.mobile-devices-features-text{
	display: flex;
	padding-top: 10px;
	color: grey;
}

/* COUNTERS */

.counters{
	background: linear-gradient(to right, #231c1a, #4d3326)
}

.counter-count{
	width: 100%;
	padding-top: 20px;
	color: #fff;
}

.counter-item{
	line-height: 2;

	padding: 80px 40px 60px 30px;

	text-align: center;
	display: inline-block;
}

.counter-text{
	font-weight: bold;
	font-size: 14px;
	color: #c7b299;
	text-transform: uppercase;
}

.counter-text:after{
	content: "";
	display: block;
	margin: 30px auto;

	height: 3px;
	width: 30px;

	background-color: #fff;
}

/* POSTS */

.section{
	margin-top: 0;
}

.card-date{
	left: 10px;
	top: 10px;

	color: #fff;
	position: absolute;

	border-radius: 5px 5px 5px 5px;
	background-color: #252525;

	transition: .2s;
}

.card:hover .card-date{
	background-color: #a48d72;
}

.card-date h1{
	text-align: center;

	padding: 5px 10px;
	margin: 0;

	border-radius: 5px 5px 0px 0px;
	background-color: #333;

	transition: .2s;
}

.card:hover .card-date h1{
	background-color: #c7b299;
}

.card-date p{
	text-align: center;

	margin: 0;
	padding: 5px 10px;
}


.post-title{
	color: grey;
}

.card:hover .post-title{
	color: #c7b299;
}

.post-text{
	color: #ccc;
}

.card:hover .post-text{
	color: #fff;
}

/* PARTNERS */


.partners{
	position: relative;
	background: url(../images/partners-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 150px;
	padding: 150px 0px;
}

.partners-bg img{
	width: 100%;
}


/* FOOTER */

.footer-header{
	padding: 20px 0px 50px 0px;
	border-top: 1px solid #c7b299;
	border-bottom: 1px solid #c7b299; 
	background-color: #191919;
}


hr{
	background-color: #333;
}

.footer-header h3{
	font-family: 'Raleway', sans-serif;
}

.footer-header-text p{
	color: grey;
	transition: .2s;
}

.footer-header-text:hover p{
	color: #c7b299;
}

.footer-header span{
	color: #333;
	display: flex;
	flex: left;

	transition: .2s;
}

.footer-header-text:hover span{
	color: #fff;
}

.footer-header a img{
	margin: 5px;
	object-fit: cover;
	width: 130px;
	height: 100px;
}

.footer-bottom{
	padding: 30px 0px 30px 0px;
	background-color: #111111;
}

.copyright p, a{
	font-size: 14px;
	margin: 0;
}

.copyright p{
	color: grey;
}

.copyright a{
	text-decoration: none;
	color: grey;

	transition: .2s;
}

.copyright a:hover{
	color: #c7b299;
}

.design-by{
	padding-left: 200px;
}

.design-by p, a{
	font-size: 14px;
	margin: 0;
}

.design-by p{
	color: grey;
}

.design-by a{
	text-decoration: none;
	color: #fff;

	transition: .2s;
}

.design-by a:hover{
	opacity: .5;
}

/* MEDIA */

/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Portrait tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-item{
		padding-left: 0px;
	}

	.navbar-brand{
		padding-right: 0px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	li.nav-item{
		padding-left: 0px;
	}

	.devices img{
		width: 100%;
	}

	.navbar{
		width: 100%;
	}

	.navbar-brand{
		margin-right: 0;
		padding: 0;
	}

	.nav-icons{
		display: flex;
		padding-left: 0;
	}

	.collapse{
		position: absolute;
		top: 100%;
	}

	.slick-dots{
		left: 40%;
		top: 130%;
	}

	.slick-arrow{
		height: 50px;
	}

	.slick-arrow.slick-prev{
		background-size: 50%;
		top: 40%;
	}

	.slick-arrow.slick-next{
		top: 42%;
		background-size: 50%;
	}

	.col-lg-3 img{
		margin-top: 20px;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.devices img{
		width: 100%;
	}

	.navbar-brand{
		padding-right: 0;
	}

	.slick-arrow{
		height: 50px;
	}

	.slick-arrow.slick-prev{
		background-size: 50%;
		top: 40%;
	}

	.slick-arrow.slick-next{
		top: 42%;
		background-size: 50%;
	}

	.slick-dots{
		left: 37%;
		top: 110%;
	}

	.navbar{
		width: 100%;
	}

	.navbar-collapse.collapse.show{
		position: absolute;
		z-index: 2;
		left: 0%;
		top: 100%;
		width: 100%;
		background: #191919;
		display: block;
		justify-content: center;
		text-align: center;
		padding: 20px 0px;
	}

	.nav-icons{
		padding-left: 0px;
	}

	.btn-text-boxes{
		margin-top: 100px;
	}

	.list{
		padding-left: 0;
	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}